<% data.experiences.each do |exp| %>
  <div id="<%= exp.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close clickable" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= exp.title %></h4>
        </div>
        <div class="modal-body">
          <% if exp.link %>
            <p><%= exp.description %> Check it out <a href="<%= exp.link %>" target="_blank">here!</a></p>
          <% else %>
            <p><%= exp.description %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
<% data.bio.each do |bio| %>
  <div id="<%= bio.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close clickable" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= bio.title %></h4>
        </div>
        <div class="modal-body">
          <% if bio.link %>
            <p><%= bio.description %> Check it out <a href="<%= bio.link %>" target="_blank">here!</a></p>
          <% else %>
            <p><%= bio.description %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
<% data.projects.each do |proj| %>
  <div id="<%= proj.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close clickable" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= proj.title %></h4>
        </div>
        <div class="modal-body">
          <% if proj.link %>
            <p><%= proj.description %> Check it out <a href="<%= proj.link %>" target="_blank">here!</a></p>
          <% else %>
            <p><%= proj.description %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>
